.MainContainer {
    background-color: white;
    max-width: 100vw;
    width: 100%;
    overflow-y: scroll;
}

.ContentContainer {
    margin: 80px 8% 0px 8%
}

.ProfileContainer {
    display: flex;
    height: 160px;
    width: 75vw;
    background-color: #849f7f;
    align-items: center;
    border-radius: 15px;
    margin-left: 10px;
    gap: 20px;
    font-size: 25px
}

.ProfilePhotoContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.ProfilePhoto {
    height: 66%;
    width: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1 ;
    margin-left: 20px;
}

.ProfileText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.Username {
    font-size: 1em;
    font-weight: bold;
}

.ViewProfileButton {
    background-color: #849f7f;
    text-align: left;
    font-size: 0.6em;
    font-weight: 400;
    padding: 0;
}

.ViewProfileButton:hover {
    background-color: #849f7f
}

.EditProfile {
    margin-left: auto;
    margin-right: 40px;
    border: 1px solid darkgray;
    background-color: white;
    color: var(--main-color);
    width: 125px;
    height: 50px;
    font-size: 0.65em
}

.EditProfile:hover {
    border: 1px solid var(--complementary-color);
    background-color: white;
    color: var(--complementary-color);
}

.ListingsHeader {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);;
    margin: 20px 0px 20px 10px
}

.ListingsContainer {
    display: flex ;
    flex-wrap: wrap;
    gap: 40px;
    width: 80vw;
}

.IndividualListing {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    color: black;
    margin: 0px;
    padding: 10px;
    text-align: left;
    background-color: white;
    color: black;
    border: none;
}

.IndividualListing:hover {
    background-color: white;
    color: black;
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.2);
    border: none;
}

.ListingImage {
    height: 200px;
    width: 100%;
    margin-bottom: 10px
}

.ListingName {
    font-size: 16px;
    font-weight: 450;
}

.ListingPrice {
    font-size: 18px;
    font-weight: bold;
}

.ListingSize {
    font-size: 16px;
    font-weight: 400;
}