.NavigationTabsContainer {
    display: flex;
    position: fixed;
    height: var(--navigation-tabs-height);
    gap: 10px;
    background-color: white;
    width: 100vw;
    border-bottom: 1px solid rgb(240, 240, 240);
    z-index: 1000;
}

.Logo {
    margin: 0px 50px 0px 80px;
}

.Sections {
    background-color: white;
    color: var(--main-color);
    font-weight: bold;
    border: none;
    box-shadow: none;
    flex-grow: 1;
    border-radius: 0px;
}

.Sections:hover {
    background-color: var(--main-color);
    color: white;
    border-radius: 0px;
    margin: 2px 0px 2px 0px
}

.SearchBarContainer {
    display: flex;
    background-color: lightgray;
    padding: 12px;
    margin: 6px 6px 6px 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.SearchIcon {
    height: 20px;
    width: 20px;
    color: var(--main-color);
}

.SearchBarContainer .SearchBar {
    border: 0px;
    outline: 0px;
    font-size: medium;
    background-color: lightgray;
    color: var(--main-color);
}

.IconsContainer {
    background-color: white;
    display: flex;
    gap: 35px;
    margin: 0px 80px 0px auto;
    padding-left: 50px;
    align-items: center;
    font-size: 25px;
}

.Icon {
    background-color: white;
    border: none;
    color: var(--main-color);
    font-size: 1em;
    font-weight: 500;
    padding: 0px
}

.Icon:hover {
    background-color: white;
    color: var(--darker-main-color);
}

.LogoutIcon {
    margin-top: 5px;
    margin-left: 5px;
}

.SellButton {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    margin: 0px 0px 0px 10px;
    font-size: 0.6em;
    min-width: 75px;
}

.SellButton:hover {
    background-color: var(--darker-main-color)
}

.CategoriesWrapper {
    position: relative;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.Dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    min-width: 145px;
    z-index: 100;
}

.CategoriesWrapper:hover .Dropdown {
    display: flex;
}

.Dropdown button {
    background: none;
    border: none;
    padding: 14px;
    text-align: left;
    cursor: pointer;
    color: var(--main-color);
    font-weight: 500;
    border-radius: 0px;

}

.Dropdown button:hover {
    background-color: var(--main-color);
    color: white;
}

@media (max-width: 1200px) {
    .Sections {
        display:none;
    }
}
