.Input {
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    background-color: white;
    color: black;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    color: var(--main-color);
    margin: 8px 0 8px 1px;
    text-align: left;
}

.sell {
    min-height: 60px;
    width: 100%;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 12px;
    white-space: normal;
    overflow-wrap: break-word;
}

.auth {
    box-sizing: border-box;
    padding: 12px;
    height: 45px;
}

.price {
    padding-left: calc(1.2em + 22px)
}

.Multiline {
    padding: 20px;
    font-size: 16px;
    resize: vertical;
    overflow: hidden;
    min-height: 120px;
}

::placeholder {
    color: var(--main-color)
}