
.Input {
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  width: 392px;
  height: 20px;
  background-color: white;
  color: black;
}

.PasswordInputWrapper {
  position: relative;
  width: 404px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px;
}

.PasswordInputWrapper .Input {
  border: none;
  box-shadow: none;
  outline: none;
}

.TogglePasswordIcon {
  flex: 0 0 auto;
  padding: 5px;
}