.NavigationTabsContainer {
    display: flex;
    position: fixed;
    top: 0px;
    height: 55px;
    gap: 10px;
    background-color: white;
    width: 100vw;
}

.Logo {
    margin-left: 80px;
    margin-right: 50px;
}

button {
    background-color: white;
    color: #5A6D57;
    font-weight: bold;
    outline: None;
    border: none;
    box-shadow: none;
}

.SearchBarContainer {
    display: flex;
    background-color: lightgray;
    margin-left: 20px;
    padding: 12px;
    margin: 6px;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.SearchIcon {
    height: 20px;
    width: 20px;
    color: #5A6D57;
}

.SearchBarContainer .SearchBar {
    border: 0px;
    outline: 0px;
    font-size: medium;
    background-color: lightgray;
    color: #5A6D57;
}

.IconsContainer {
    background-color: white;
    display: flex;
    gap: 25px;
    margin-left: auto;
    margin-right: 80px;
    align-items: center;
}

.Icon {
    height: 25px;
    width: 30px;
    color: #5A6D57;
}

button:hover {
    background-color: #5A6D57;
    color: white;
    border-radius: 0px;
}

.SellButton {
    background-color: #5A6D57;
    color: white;
    padding: 10px 20px;
}

.SellButton:hover {
    background-color: #3c483b;
    border-radius: 8px;
}
